/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

h1,h2,h3{
    margin-bottom: 20px;
}

html,body{
    font-family: "Open-Sans",sans-serif;
    color: #222;
}

p{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.underline{
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
}

/* header */

.header{
    background-color: #333;
    overflow: auto;
    line-height: 1.7em;
}

.header nav h1{
    float: left;
    padding: 20px;
    margin-bottom: 0;
}

.header nav h1 a{
    color: white;
}

.header nav ul {
    float: right;
    list-style: none;
}

.header nav ul li  {
    float: left;
    
}

.header nav ul li a  {
    color:white;
    padding: 20px;
    display: block;
    
}

.header nav ul li a:hover  {
    background:#444;
    
}

.active{
    background: #444;
}


/* VP */

.vp{
    height: 700px;
    background: url(../images/cafe1.jpg) center center;
    block-size: cover;  
    text-align: center; 
}

.my-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.vp-content{
    max-width: 600px;
    padding-top: 150px;
    color: white;
    margin: auto;
}

.vp-content h1{
    font-size: 50px;
}

.separator{
     margin:20px auto;
     width: 100px;
     height: 10px;
     background-color: black;   
}

.vp-content p {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 2em;
}

.btn{
    border-radius: 30px;
    display: inline-block;
    padding: 15px 25px;
    font-weight: 700;
}

.btn-primary{
    background-color: white;
    color: #222;

}

.btn-primary:hover{
    background-color:#222;
    color: white;

}

.container{
    margin: auto;
    display: block;
    max-width: 1000px;
}

/* Features */

.features{
    overflow: auto;
    padding: 100px 0px 100px 0;
    text-align: center;
    
}

.feature{
    float: left ;
    width: 50%;
}

/* person */
.person{
    height: 400px;
  background: url(../images/cafe3.jpg) center center/cover;  
}

    /* Reservation */
    .reservation{
        padding: 100px 0px 100px 0px;
        text-align: center;
    }

    .my-20{
        margin-top: 20px;
        margin-right: 20px;
    }

    .btn-dark{
        background: #222;
        color: white;
    }

    .btn-dark:hover{
        background: white;
        color: #222;
    }

    /* footer */

    footer{
        background-color: #222;
        color: white;
        padding: 30px 0px 30px 0px;
        text-align: center;
    }

    footer p{
        margin-bottom: 0px;
    }

    /* where */

    .where{
        padding: 180px 0px 100px 0px;
        overflow: auto;
        min-height: 100vh;
    }

    .where-image{
        float: left;
        width: 45%;
        border: solid 1px #ddd;
        border-radius: 5px;

    }

    .where-text{
        float: right;
        width: 50%;
    }

    .contact{
        padding: 100px 0 100px 0;
        min-height: 100vh;
    }

    .contact-form-container{
        max-width: 600px;
        margin: auto;
    }

    .contact-form-container form label{
        display: block;
        font-weight: 700;
    }

    .contact-form-container form input{

        display: block;
        width: 100%;
        padding: 16px;
        border: solid 1px #ddd;
        border-radius: 3px;
    }

    .contact-form-container form textarea{
        min-height: 80px;
        width: 100%;
    }